body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
}
h1 {
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
button {
    flex: 1;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-weight: 500;
}
button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}
button:active {
    transform: translateY(0);
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}
input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 100%;
}
input:focus {
    outline: none;
    border-color: #4CAF50;
}
#checkInBtn {
    margin-top: 1.5rem;
    background-color: #2196F3;
}
#checkInBtn:hover {
    background-color: #1e87db;
}

#backBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
